<!DOCTYPE html>
<meta charset="utf-8" />
<title>RedmineX - memo</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" />
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css">
<link rel="stylesheet" href="../common/common.css" />
<link rel="stylesheet" href="./index.css" />
<link rel="stylesheet" href="./github-markdown.css" />
<body>
    <div id="root" v-cloak>
        <section class="memo">
            <h2 class="section-title">メモ</h2>
            <div class="section-content layout-col">
                <div class="toolbar">
                    <label class="labeled-control" v-if="0 < memoNames.length">
                        <span>名前</span>
                        <select v-model="selectedMemoName">
                            <option v-for="memoName in memoNames" :value="memoName">{{memoName}}</option>
                        </select>
                    </label>
                    <button @click="onCreate">作成</button>
                    <button @click="onDelete">削除</button>
                </div>
                <div class="layout-row">
                    <div class="memo-editor">
                        <textarea v-model="memo" @input="onInput"></textarea>
                    </div>
                    <div class="memo-preview markdown-body" v-html="preview"></div>
                </div>
            </div>
        </section>
        <x-dialog :opened="dialogOpened" :memo-names="memoNames" @closed="onDialogClosed"></x-dialog>
    </div>
    <script type="x-template" id="x-dialog-template">
        <dialog class="dialog fixed" ref="dialog">
            <div class="dialog__header">
            </div>
            <div class="dialog__content">
                <label class="labeled-control">
                    <span>名前</span>
                    <input type="text" v-model="value" placeholder="新規メモ名" />
                </label>
                <p class="error">{{error}}</p>
            </div>
            <div class="dialog__footer">
                <button v-if="hasOK"     @click="close(true)" :disabled="!availableName">OK</button>
                <button v-if="hasCancel" @click="close(false)">Cancel</button>
            </div>
        </dialog>
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
    <script src="./x-dialog.js"></script>
    <script src="./memo.js"></script>
    <script src="./index.js"></script>
</body>
